/* import stylesheet */
@import url("../css/style-corpus.css");

/* set custom colours */
:root {
    --color_bg: #E1E6F5;
    --color_bg_strong: #BABFD6;
    --color_bg_light: #F5F7FF;
    --color_text: #444444;
    --color_border: #C6C9E1;
    --color_button: #eee;
    --color_button_border: #ccc;
    --color_link: #4D4FE5;
}
