/* body background color */
body {
  background: var(--color_bg);
  font-family: Verdana;
  font-size: 10pt;
  color: var(--color_text);
}

/* Form and button styles */
form {
  margin: 0;
  padding: 0;
  border: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: Verdana;
  font-size: 8pt;
  color: var(--color_text);
  background: #fff; 
  padding: 3px;
  border-radius: 3px;
  border:1px solid var(--color_button_border); 
  border-bottom: 4px solid var(--color_button_border);
}

input {
    font-family: Verdana;
    color: var(--color_text, #444444);
    background:#fff; 
    border:1px solid var(--color_button_border);
    border-radius: 0px;
    padding: 5px;
}

input[type=submit] {
    background: var(--color_button);
}

input[type=button] {
    background: var(--color_button);
}

input[type=reset] {
    background: var(--color_button);
}



/* paragraph styles */
p.errormessage {
	font-size: large;
}

p.bigbold {
	font-size: medium;
	font-weight: bold;
}

p.spacer {
	font-size: small;
	padding: 0pt;
	line-height: 0%;
	font-size: 10%;
}


/* override html-coded center */
center {
	text-align: left;
}


/* some text highlighting */
span.hit {
	color: red;
	font-weight: bold;
}

span.contexthighlight {
	font-weight: bold;
}

span.concord-time-report {
	color: var(--color_bg);
	font-size: 10pt;
	font-weight: normal
}



/* table layout */
table, td, th {
    background-color: var(--color_bg);
    border-collapse: collapse;
    border: none;
    padding: 5px;
    font-family: Verdana;
    font-size: 10pt;
    text-align: left;
}

th.concordtable {
  font-weight: bold;
  text-align: left;
  font-size: 115%;
  background-color: var(--color_bg_strong);
  vertical-align:bottom;
}

td.concordgeneral {
  border-bottom: 1px solid var(--color_border);
}

td.concordgrey {
    border-bottom: 1px solid var(--color_border);
	background-color: var(--color_bg_light);
}

td.before {
  border-bottom: 1px solid var(--color_border);
  text-align: right;
}

td.after {
  border-bottom: 1px solid var(--color_border);
  text-align: left;
}

td.node {
  background-color: var(--color_bg_strong);
  text-align: center;
}

td.text_id {
	background-color: var(--color_bg_strong);
}

/* links */
a:link {
  color: var(--color_link, #4D4FE5);
}

/* menu */
a.menuItem:link {
  	color: var(--color_text);
	font-size: 10pt;
	text-decoration: none;
}

a.menuItem:visited {
	color: var(--color_text);
}

a.menuItem:hover {
	text-decoration: underline;
}

hr {
  border:0px;
  height:3px;
  background: var(--color_border);
}
